<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            @*<img src="~/content/img/avatars/user.png" alt="me" class="online" />*@
            <span>@ViewBag.UserName  </span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>