<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="home" value="http://localhost:9000/" />
  <add key="ProjectId" value="Brownies" />
  <add key="IdentityName" value="Brownies Identity Server" />
  <add key="AppName" value="Brownies" />
  <add key="Company" value="Brownies" />
  <add key="CNIdentity" value="IdentityDB" />
  <add key="CNDesign" value="UserDBContext" />
  <add key="CNData" value="UserDBContext" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="owin:AppStartup" value="eXpressAPP.Startup" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AllowDebug" value="true" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
</appSettings>
   