<?xml version="1.0" encoding="utf-8"?> 
<connectionStrings>

  <add name="UserDBContext" 
       connectionString="Data Source=DESKTOP-O44RG79\SQLEXPRESS;Initial Catalog=Brownies_data;User Id=okta;Password=oktaviarizkha18;" 
       providerName="System.Data.SqlClient"/>

  <add name="IdentityDB" 
       connectionString="Data Source=DESKTOP-O44RG79\SQLEXPRESS;Initial Catalog=Brownies_auth;User Id=okta;Password=oktaviarizkha18;" 
       providerName="System.Data.SqlClient" /> 

  <add name="ErrLoggerDB" 
       connectionString="Data Source=DESKTOP-O44RG79\SQLEXPRESS;Initial Catalog=Brownies_auth;User Id=okta;Password=oktaviarizkha18;" 
       providerName="System.Data.SqlClient" />

  <add name="MongoDBData" 
       connectionString="mongodb://localhost:27017/Browniescode" />
</connectionStrings>
