@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDevAMD.cshtml";
}


<section id="widget-grid" class="" >
    <div class="row" style="margin-left:0;">
        <div id="codeeditor" style="width:100%;height:100px;position:absolute" class="layout-hide"> 
            <div id="code-html" class="editor ui-layout-north">
                <textarea id="htmlcode" data-ui-tinymce="tinymceOptions" data-ng-model="modeltypeinfo"></textarea> 
                <a id="fullscreen-html5-toggle"><span class="fullscreen-small" id="fullscreen-html5"></span></a>
            </div>
            <div id="code-html-fixed" class="editor ui-layout-west ">
                <textarea id="htmlcode12"></textarea>
                <span class="html-logo" id="html-mode"></span>
                <a id="fullscreen-html-toggle"><span class="fullscreen-small" id="fullscreen-html"></span></a>
            </div> 
            <div id="code-js" class="editor ui-layout-center">
                <textarea></textarea>
                <span class="js-logo" id="js-mode"></span>
                <a id="fullscreen-js-toggle"><span class="fullscreen-small" id="fullscreen-js"></span></a>
            </div>
            <div id="code-css" class="editor ui-layout-east">
                <textarea></textarea>
                <span class="css-logo" id="css-mode"></span>
                <a id="fullscreen-css-toggle"><span class="fullscreen-small" id="fullscreen-css"></span></a>
            </div>
        </div>
    </div>
</section>
